/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1449px) {
    .hero-two-tex img {
        width: 280px !important;
    }
    .data-icon img {
        width: 20px !important;
    }
    .data-icon {
        padding: 0px 5px;
        height: 60px;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hero-content p {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .hero-slider-wrapper .owl-dots {
        right: 20%;
    }
    

}




@media (min-width: 1200px) and (max-width: 1300px) {
    .trainer-image {
        right: 7%;
        top: 50%;
        width: 500px !important;
        height: 525px !important;
    }
    .hero-two-victor img {
        position: relative;
        top: 0;
    }
    .hero-two-tex img {
        width: 280px !important;
    }
    .data-icon img {
        width: 20px !important;
    }
    .data-icon {
        padding: 0px 5px;
        height: 60px;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hero-content p {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .hero-slider-wrapper .owl-dots {
        right: 15%;
    }




}







/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
    .data-box {
        margin-right: 15px;
        margin-bottom: 25px;
        width: 140px;
    }
    .data-icon {
        padding: 15px 0px;
        width: 84px;
        text-align: center;
    }
    .data-icon img {
        width: 20px;
    }
    .data-txt {
        padding: 0 10px;
    }
    .hero-content p {
        font-size: 18px;
        letter-spacing: .5px;
    }

    .hero-btm-txt {
        bottom: 15px;
    }
    .hero-area-two:after {
        height: 300px;
    }
    .service-card {
        height: 270px;
        padding: 25px 20px;
    }
    .service-box h4 {
        font-size: 18px;
        letter-spacing: 0;
    }
    .area-title p br {
        display: none;
    }
    .testimobila-wrapper {
        max-width: 800px;
        margin: 0 auto;
    }
    .owl-nav img {
        width: 16px !important;
    }
    .testimonial-slider .owl-next {
        right: -75px;
    }
    .testimonial-slider .owl-prev {
        left: -75px;
    }
    .testi-text p {
        font-size: 16px;
        letter-spacing: 0;
    }
    .testi-pro {
        width: 170px;
    }
    .social-link li img {
        width: 15px;
    }
    .social-link p {
        font-size: 13px;
        letter-spacing: 0;
        padding-left: 15px;
        padding-right: 10px;
    }
    .social-link {
        padding-right: 10px;
    }
    .foter-menu ul li a {
        font-size: 13px;
        letter-spacing: 0;
        transition: .3s;
    }
    .foter-menu ul li:last-child {
        margin: 15px;
    }
    .foter-menu ul li {
        margin-right: 15px;
    }
    .request-btn a {
        padding: 9px 20px;
        letter-spacing: 0;
        font-size: 14px;
    }
    .social-link li:first-child {
        margin-left: 5px;
    }
    .trainer-image {
        right: 4%;
        width: 400px !important;
        height: 440px !important;
    }
    .trainer-text h4 {
        font-size: 24px;
    }
    .trainer-text p {
        font-size: 16px;
        line-height: 130%;
    }
    .trainer-text a {
        margin-top: 10px;
    }
    .trainer-area {
        padding: 40px 0;
        margin: 140px 0;
    }
    .trainer-image:after {
        left: -1px;
        top: -1px;
    }
    .hero-two-victor img {
        position: relative;
        top: 0;
    }
    .hero-two-tex img {
        width: 280px !important;
    }
    .data-icon img {
        width: 20px !important;
    }
    .data-icon {
        padding: 0px 5px;
        height: 60px;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hero-content p {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .hero-slider-wrapper .owl-dots {
        right: 10%;
    }





}
 







/* SM Small Device :550px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .mainmanu-warp ul li {
        margin-right: 20px;
        display: inline;
    }
    .case-box img {
        max-width: 100%;
        margin: 0 auto;
    }
    .testimobila-wrapper {
        max-width: 100%;
        margin: 0 auto;
        width: 100%;
    }
    .testi-pro {
        position: relative;
        width: 160px;
        padding: 15px;
        z-index: 1;
    }
    .testi-text p {
        font-size: 16px;
        letter-spacing: 0;
    }

    .testimonial-title h2 {
        font-size: 30px;
    }
    .data-box {
        margin-right: 15px;
        width: 145px;
    }
    .data-icon {
        padding: 15px 0px;
        width: 90px;
        text-align: center;
    }
    .data-icon img {
        width: 20px;
    }
    .data-txt span {
        font-size: 13px;
    }
    .data-box.mr-0 {
        margin-right: 15px !important;
    }
    .hero-content p {
        font-size: 16px;
    }
    .hero-btm-txt p {
        font-size: 16px;
    }
    .hero-btm-txt {
        bottom: 10px;
    }
    .hero-area-two::after {
        height: 280px;
    }
    .data-icon {
        padding: 15px 0px;
        width: 85px;
        text-align: center;
        height: 57px;
    }
    .hero-two-tex {
        margin-top: -55px;
    }
    .service-card {
        height: 220px;
        padding: 25px 10px;
    }
    .service-box h4 {
        font-size: 15px;
        letter-spacing: 0;
    }
    .service-box p {
        font-size: 14px;
    }
    .area-title p br {
        display: none;
    }
    .trainer-image {
        display: none;
    }
    .trainer-text h4 {
        font-size: 28px;
    }
    .trainer-text p {
        font-size: 16px;
    }
    .trainer-area {
        padding: 50px 0;
    }
    .trainer-area {
        padding: 50px 0;
        margin: 0px 0;
        margin-bottom: 30px;
    }
    .service-area {
        padding: 70px 0;
    }
    footer .container {
        width: 100% !important;
        max-width: 100%;
    }
    .social-link li img {
        width: 15px;
    }
    .social-link p {
        font-size: 13px;
        letter-spacing: 0;
        padding-left: 12px;
        padding-right: 5px;
    }
    .social-link {
        padding: 15px 0;
        padding-right: 10px;
    }
    .foter-menu ul li a {
        font-size: 13px;
        letter-spacing: 0;
    }
    .foter-menu ul li {
        display: inline;
        margin-right: 15px;
    }
    .foter-menu ul li:last-child {
        margin: 0;
    }
    .request-btn a {
        padding: 9px 17px;
        font-size: 13px;
        letter-spacing: 0;
    }
    .request-btn {
        margin-left: 10px;
    }
    .social-link {
        margin-left: 15px;
    }
    .footer-right {
        max-width: 725px;
        margin: 0 auto;
    }
    .footer-logo {
        text-align: center;
        margin-bottom: 25px;
        margin-top: 20px;
    }
    .hero-two-victor img {
        position: relative;
        top: 0;
    }
    .hero-two-tex img {
        width: 280px !important;
    }
    .data-icon img {
        width: 20px !important;
    }
    .data-icon {
        padding: 0px 5px;
        height: 60px;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hero-content p {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .hero-slider-wrapper .owl-dots {
        right: 15%;
    }
    .hero-btm-txt p {
        max-width: 500px;
        font-size: 15px;
    }
    .hero-slider-wrapper .owl-dots {
        right: 5%;
    }






    
 
}



























/* SM Small Device :320px. */
@media only screen and (max-width: 767px) {
    .case-box img {
        max-width: 100%;
        margin: 0 auto;
        width: auto;
    }
    .trainer-image {
        display: none;
    }
    .brand-area p {
        font-size: 16px;
        width: 100%;
    }
    .hero-content p {
        font-size: 18px;
    }
    .book-btn a {
        padding: 7px 20px;
        letter-spacing: 0;
    }
    .hero-area-two::after {
        display: none;
    }
    .data-box {
        width: 150px;
        margin-right: 15px !important;
    }
    .data-icon {
        padding: 0px 0px;
        width: 95px;
        height: 60px;
        text-align: center;
        line-height: 60px;
    }
    .data-icon img {
        width: 24px;
    }
    .data-box.mr-0 {
        margin-right: 15px !important;
    }
    .hero-two-victor {
        text-align: center;
    }
    .hero-content p {
        font-size: 16px;
    }
    .data-box-warp {
        margin-bottom: 0;
    }
    .hero-content a {
        margin-top: 10px;
    }
    .hero-btm-txt p {
        font-size: 15px;
        color: #F36433;
    }
    .mean-container a.meanmenu-reveal {
        width: 22px;
        height: 22px;
        padding: 0px 1px 0 15px;
        top: 0px;
        line-height: 22px;
        font-size: 0px;
        font-weight: 700;
        margin-top: 7px;
        position: relative;
    }
    .mean-nav {
        position: fixed;
        left: 0;
        top: 58px;
        width: 100% !important;
    }
    .mean-container .mean-nav {
        background: #4A3636;
    }
    .mean-container .mean-nav ul li a {
        width: 90%;
        padding: 12px 15px;
        /* border-top: 1px solid #383838; */
        border-top: 1px solid #9e6d6085;
        font-size: 14px;
    }
    .mean-container a.meanmenu-reveal span {
        background: #f36433;
    }
    .sticky .mean-container a.meanmenu-reveal span {
        background: #fff;
    }
    .mean-container a.meanmenu-reveal {
        margin-top: 0px;
        color: #f36433;
    }
    .sticky .mean-container a.meanmenu-reveal {
        color: #fff;
    }
    .hero-two-victor {
        display: none;
    }
    .hero-area-two {
        height: auto;
        display: block;
        position: relative;
        padding-top: 50px;
        width: 100%;
    }
    .hero-logo {
        width: 230px;
    }
    .hero-btm-txt {
        position: relative;
        bottom: 0;
        width: 100%;
        left: 0;
        z-index: 2;
        margin-top: 25px;
    }
    .header-area {
        padding: 10px 0;
    }
    .data-box {
        margin-bottom: 15px;
    }
    .data-box-warp {
        margin: 25px 0;
        margin-bottom: 5px;
    }
    .hero-content a {
        margin-top: 5px;
        font-size: 14px;
    }
    .brand-area p::after {
        display: none;
    }
    .brand-area p span {
        background: #fff;
        padding: 2px 0px;
        font-size: 18px;
    }
    .area-title h2 {
        font-size: 20px;
    }
    .area-title p br {
        display: none;
    }
    .service-area {
        padding: 60px 0;
        padding-bottom: 30px;
    }
    .trainer-area {
        padding: 60px 0;
        margin: 0;
        margin-bottom: 25px;
    }
    .trainer-text h4 {
        font-size: 20px;
        line-height: 130.5%;
    }
    .testi-pro {
        margin: 0 auto;
        margin-bottom: 45px;
    }
    .testi-text {
        text-align: center;
    }
    .testi-text p {
        font-size: 16px;
        letter-spacing: 0;
    }
    .footer-right {
        display: block;
        width: 100%;
        text-align: center;
        padding: 15px 0;
    }
    .social-link {
        background: transparent;
        padding: 20px 0;
        padding-right: 20px;
        display: block;
        text-align: center;
    }
    .social-link p {
        display: none;
    }
    .request-btn {
        margin-left: 0;
    }
    .foter-menu ul li {
        display: inline;
        margin-right: 0;
        margin:10px 5px;
    }
    .foter-menu ul li a {
        font-size: 12.4px;
        letter-spacing: 0;
    }
    .footer-logo {
        text-align: center;
        margin-bottom: 15px;
    }
    footer {
        padding-top: 25px;
        padding-bottom: 10px;
    }
    .testimonial-title h2 {
        font-size: 28px;
        text-align: center;
        margin-bottom: 50px;
    }
    .area-title {
        margin-bottom: 45px;
    }

    .hero-two-victor img {
        position: relative;
        top: 0;
    }
    .hero-two-tex img {
        width: 220px !important;
    }
    .data-icon img {
        width: 20px !important;
    }
    .data-icon {
        padding: 0px 5px;
        height: 60px;
        width: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hero-content p {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .hero-slider-wrapper .owl-dots {
        right: 15%;
    }
    .hero-btm-txt p {
        max-width: 500px;
        font-size: 15px;
    }
    .hero-slider-wrapper .owl-dots {
        right: 5%;
        bottom: 15px;
    }
    .hero-two-tex {
        margin-top: 0;
    }
    .hero-slide-item {
        height: auto;
        display: block;
        align-items: center;
        padding: 50px 0;
        margin-bottom: 35px;
    }
    .hero-slider-wrapper .owl-dot.active {
        background: #4a3636 !important;
    }








}










/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {

  
    
    
 
}